@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Outfit:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
	--Green: green;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto Flex", sans-serif;
}

img {
	width: 100%;
	height: auto;
}

.Bienvenida {
	background-color: rgb(3, 36, 36);
	position: fixed;
	height: 100vh;
	color: white;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}
.Bienvenida_imagen {
	height: 100%;
	max-height: 20em;
}

.Bienvenida_info {
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	text-align: center;
	background-color: rgba(3, 36, 36, 0.726);
	width: 100%;
	margin-top: -1em;
}

.Bienvenida_info > h1 {
	text-align: center;
	background: linear-gradient(to right, rgb(253, 235, 235), rgba(97, 230, 218, 0.705));
	color: transparent;
	background-clip: text;
    text-shadow: 2px 2px 4px rgba(10, 10, 10, 0.5);
	font-size: 1.5em;
}

.Bienvenida_btn {
	padding: .4em;
	width: 100%;
	max-width: 10em;
	font-size: 1.3em;
	margin: auto;
	background-color: rgb(16, 104, 82);
	color: white;
	border: none;
	border-radius: .3em;
	cursor: pointer;
}
.Bienvenida_btn:focus{
	background-color: rgb(2, 15, 12);
}
.title {
	display: none;
}
.text {
	display: none;
}
.two {
	display: none;
}

.Galeria {
	display: none;
	background-color: rgba(36, 58, 6, 0.281);
	position: fixed;
	width: 100%;
	overflow-y: scroll;
	height: 100vh;
}
#name {
	font-size: 2em;
	border-bottom: 3px solid rgb(8, 45, 51);
	width: 100%;
	max-width: 7em;
	text-align: center;
	margin: auto;
	margin-bottom: .5em;
	border-radius: 14%;
}
.info {
	text-align: start;
	padding: 1em;
}


.imagePrincipal {
    text-align: center;
    margin-bottom: 20px;
}

.imagePrincipal img {
    max-width: 25em;
    height: auto;
    border: 2px solid #ccc;
}
.paginacion{
   position: fixed;
   display: flex;
	width: 100%;
	background-color: rgb(3, 36, 36);
	align-items: center;
	justify-content: space-around;
	height: 5em;
	bottom: 0;
	
}
.miniaturas {
    display: flex;
    justify-content: center;
    gap: 10px;
	height: 4em;
}

.miniatura {
    max-width: 100px; 
    cursor: pointer;
    transition: transform 0.3s ease; 
}
.miniatura  {
	width: 100%;
}

.miniatura:hover {
    transform: scale(1.1);
}

.p{
	background-color: white;
	color: black;
	border-radius: 50%;
	height: 2em;
	width: 2em;
	border: none;
	font-size: 1.2em;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 1000;
}

#Volver {
	background-color: rgb(12, 73, 53);
	color: white;
	padding: .5em;
	font-size: 1em;
	width: 100%;
	max-width: 6em;
	margin-top: 1em;
	border: none;
	cursor: pointer;
	position: fixed;
}
.animals {
	box-shadow: 0px 5px 10px rgba(2, 2, 2, 0.4);
}


@media (min-width: 1000px) {
	.two{
		display: block;
		margin-top: -2em;
	}
	.title {
		display: block;
	}
	.text {
		display: block;
	}
	.Bienvenida {
		background-color: rgb(3, 36, 36);
		position: static;
		height: 100vh;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 1em;
	}
	.Bienvenida_imagen {
		width: 100%;
		max-width: 75em;
		margin: auto;
		display: flex;
		align-items: center;
		gap: 2em;
	}
	.Bienvenida_imagen > img {
		max-width: 30em;
	}
	.Bienvenida_info {
		display: none;
	}
	.text {
		width: 100%;
		max-width: 90em;
	}
	#Volver {
		background-color: rgb(12, 73, 53);
		color: white;
		padding: .5em;
		font-size: 1.2em;
		width: 100%;
		max-width: 10em;
		margin-top: 1em;
		border: none;
		cursor: pointer;
		position: fixed;
	}
	.info {
		text-align: start;
		padding: 1em;
		width: 100%;
		max-width: 50em;
		margin: auto;
	}
	.paginacion{
		position: fixed;
		display: flex;
		 width: 100%;
		 background-color: rgb(3, 36, 36);
		 align-items: center;
		 justify-content: space-evenly;
		 height: 5em;
		 bottom: 0;
		 
	 }
}